<!DOCTYPE html>
<html>
<title>Tinifier</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('/static/wallpaper.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <a href="./home.html">Tinifier</a>
    </div>
    <div class="w3-display-middle">
        <div class="main">
            <div class="container">
                <br/>
                {% if not tiny_url %}
                <div class="row">
                    <div>
                        <h4>Enter URL To Shorten</h4>
                        <form method="post" class="navbar-form navbar-right" action="">
                            <div class="form-group">
                                <input type="text" id="url" name="url" class="form-control input-lg chat-input"
                                       placeholder="URL" required/>
                                <button type="submit" class="btn">Do it!</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <div>
                    Your Tinified URL is: <a href="{{tiny_url}}"> {{tiny_url}}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        <p><a href="https://github.com/ch0ppy35/">@ch0ppy35</a></p>
    </div>
    <div class="w3-display-bottomright w3-padding-large">
        <p><a href="https://www.w3schools.com/w3css/w3css_templates.asp">w3schools CSS</a></p>
    </div>
</div>
</body>
</html>